{% load tags %}
<table class="table table-striped mb-0 ">
    <thead>
      <tr>
        <th class="text-xs font-weight-bolder opacity-7 text-center">CI</th>
        <th class="text-xs font-weight-bolder opacity-7">Nombre y Apellido</th>
        <th class="text-xs font-weight-bolder opacity-7 text-center user-select-none">Ver</th>
        <th class="text-xs font-weight-bolder opacity-7 text-center">Entidad Federal</th>
        <th class="text-xs font-weight-bolder opacity-7 text-center">Periodo actual</th>
        <th class="text-xs font-weight-bolder opacity-7 text-center user-select-none">Sección</th>
        <th class="text-xs font-weight-bolder opacity-7 text-center user-select-none">Editar</th>
      </tr>
    </thead>
    <tbody>
      {% for estudiante in estudiantes %}
      <tr class="text-primary">
        <td class="font-weight-bold align-middle text-center">
          <h6 class="text-sm m-0">{{ estudiante.ci_tipo }}-{{ estudiante.ci|remove_dot }}</h6>
        </td>
        <td class="font-weight-bold ps-4">
          <h6 class="text-sm m-0">{{ estudiante.nombre }}&thinsp;{{ estudiante.apellido }}</h6>
        </td>
        <td class="font-weight-bold align-middle text-center user-select-none">
          <a href="{% url 'estudiante_ver' estudiante.id 'ver' 'None' %}">
          <i class="fa fa-eye info-icon" aria-hidden="true"></i>
          </a>
        </td>
        <td class="font-weight-bold align-middle text-center">
          <h6 class="text-sm m-0">{{ estudiante.entidad_federal|default_if_none:'Sin especificar' }}</h6>
        </td>
        <td class="font-weight-bold align-middle text-center">
          <h6 class="text-sm m-0">{{ estudiante.periodo|default_if_none:'No asignado' }}</h6>
        </td>
        <td class="font-weight-bold align-middle text-center">
          <h6 class="text-sm m-0">{{ estudiante.seccion|default_if_none:'-' }}</h6>
        </td>
        <td class="font-weight-bold align-middle text-center user-select-none">
          <a href="{% url 'estudiante_editar' estudiante.id %}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          {% include 'includes/del_modal.html' with target=estudiante.id objeto='el Estudiante' info='Esto incluye todas las notas relacionadas al estudiante, esta acción no puede deshacerse' url_name='estudiante_eliminar' %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>