<table class="table table-striped mb-0 ">
  <thead>
    <tr>
      <th class="text-xs font-weight-bolder opacity-7">Fecha</th>
      <th class="text-xs font-weight-bolder opacity-7 text-center">Carga</th>
      <th class="text-xs font-weight-bolder opacity-7 text-center">Estudiantes</th>
      <th class="text-xs font-weight-bolder opacity-7 text-center user-select-none">Cargar Notas</th>
      <th class="text-xs font-weight-bolder opacity-7 text-center user-select-none">Mover Estudiantes</th>
      <th class="text-xs font-weight-bolder opacity-7 text-center user-select-none">Editar</th>
    </tr>
  </thead>
  <tbody>
    {% for periodo in periodos %}
    <tr class="text-primary">
      <td class="font-weight-bold align-middle ps-4">
        <h6 class="text-sm m-0">{{ periodo.fecha }}</h6>
      </td>
      <td class="font-weight-bold align-middle text-center">
        <h6 class="text-sm m-0">{{ periodo.carga.titulo }}</h6>

        <!-- Lista de materias en la carga -->
        {% for materia in periodo.carga.materias.all %}
          <p class="p-0 m-0 mt-n1 text-primary">{{ materia.nombre }}</p>
        {% endfor %}
        <!-- final -->

      </td>
      <td class="font-weight-bold align-middle text-center">
        <h6 class="text-sm m-0">{{ periodo.num_estudiantes }}</h6>
      </td>
      
      <td class="font-weight-bold align-middle text-center user-select-none">
        <a class="" href="{% url 'carga_notas' periodo.id %}">
          <i class="fas fa-file-signature"></i>
        </a>
      </td>

      <td class="font-weight-bold align-middle text-center user-select-none">
        <a class="" href="{% url 'cambiar_periodo' periodo.id %}">
          <i class="fa fa-forward" aria-hidden="true"></i>
        </a>
      </td>
      <td class="font-weight-bold align-middle text-center user-select-none">
        <a class="" href="{% url 'periodo_editar' periodo.id %}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        {% include 'includes/del_modal.html' with target=periodo.id objeto='el Periodo académico' info='Esta acción se restringirá si se encuentra relacionada a una carga de notas, esta acción no puede deshacerse' url_name='periodo_eliminar' %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

