{% load tags %}
<table class="table table-striped mb-0 ">
    <thead>
      <tr>
        <th class="text-xs font-weight-bolder opacity-7">Tipo de planilla</th>
        <th class="text-xs font-weight-bolder opacity-7 text-center user-select-none"></th>
      </tr>
    </thead>
    <tbody>
      {% for materia in materias %}
      <tr class="text-primary">
        <td class="font-weight-bold ps-4">
          <h6 class="text-sm m-0">{{ materia.nombre }}</h6>
        </td>
        <td class="font-weight-bold align-middle text-center">
          <a href="{% url 'materia_editar' materia.id %}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          {% include 'includes/del_modal.html' with target=materia.id objeto='la Materia' info='Esta acción no puede deshacerse y se restringirá si esta mateeria se ha relacionado con alguna carga academica' url_name='materia_eliminar' %}
        </td>
      </tr>
      {% endfor %}

      <tr>
        <td class="font-weight-bold align-middle border-5 ps-4">
          <a href="{% url 'registro_titulos' %}">Registro de Títulos</a>
        </td>
        <td class="font-weight-bold align-middle border-5 ps-4">
          <a href="{% url 'materia_pendientes' %}">Materias Pendientes</a>
        </td>
        <td class="font-weight-bold align-middle border-5 ps-4">
          <a href="{% url 'finales' %}">Finales</a>
        </td >
        <td class="font-weight-bold align-middle border-5 ps-4">
          <a href="{% url 'revision' %}">Revisión</a>
        </td>
      </tr>
    
    </tbody>
  </table>

<table class="table table-striped mb-0 ">
  <thead>
    <tr>
      <th class="text-xs font-weight-bolder opacity-7">últimas Planillas creadas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="font-weight-bold align-middle ps-4">Nro</th>

      <th class="font-weight-bold align-middle ps-4">Título</th>

      <th class="font-weight-bold align-middle ps-4">Generado por</th>

      <th class="font-weight-bold align-middle ps-4">Fecha</th>

      <th class="font-weight-bold align-middle ps-4">Hora</th>
    </tr>


    <tr>

      <td class="font-weight align-middle ps-4">
        1
      </td>
        
      <td class="font-weight align-middle ps-4">
        Registro de Título
      </td>

      <td class="font-weight align-middle ps-4">
        Carlos Melendez
      </td>

      <td class="font-weight align-middle ps-4">
        14-05-2024
      </td>

      <td class="font-weight align-middle ps-4">
        13:00
      </td>

    </tr>

    <tr>

      <td class="font-weight align-middle ps-4">
        2
      </td>

      <td class="font-weight align-middle ps-4">
        Finales
      </td>

      <td class="font-weight align-middle ps-4">
        Lazaro Filadelfo
      </td>

      <td class="font-weight align-middle ps-4">
        13-05-2024
      </td>

      <td class="font-weight align-middle ps-4">
        16:00
      </td>

    </tr>

    <tr>
      <td class="font-weight align-middle ps-4">
        3
      </td>

      <td class="font-weight align-middle ps-4">
        Revisión
      </td>

      <td class="font-weight align-middle ps-4">
        Lazaro Filadelfo
      </td>

      <td class="font-weight align-middle ps-4">
        13-05-2024
      </td>

      <td class="font-weight align-middle ps-4">
        12:00
      </td>
    </tr>

    <tr>
      <td class="font-weight align-middle ps-4">
        4
      </td>

      <td class="font-weight align-middle ps-4">
        Materias Pendientes
      </td>

      <td class="font-weight align-middle ps-4">
        Maria Colmenares
      </td>

      <td class="font-weight align-middle ps-4">
        13-05-2024
      </td>

      <td class="font-weight align-middle ps-4">
        10:00
      </td>
    </tr>

    <tr>
      <td class="font-weight align-middle ps-4">
        5
      </td>

      <td class="font-weight align-middle ps-4">
        Revisión
      </td>

      <td class="font-weight align-middle ps-4">
        Carlos Melendez
      </td>

      <td class="font-weight align-middle ps-4">
        12-05-2024
      </td>

      <td class="font-weight align-middle ps-4">
        11:00
      </td>
    </tr>

    </tbody>
  </table>