<div class="d-flex flex-wrap gap-3 p-4">

    <div class="flex-grow-1 {% if form.nombre.errors %}form-error{% endif %}">
        <label for="nombre">Nombre</label>
        {{ form.nombre }}
    </div>
    <div class="d-flex flex-wrap flex-shrink-1 form-check align-content-end {% if form.literales.errors %}form-error{% endif %}">
        {{ form.literales }}
        <label class="form-check-label fw-bold ms-1 mb-2 mt-1" for="literales">Literales</label>
    </div>
    <div class="d-flex justify-content-center col-12 pt-2">
        <button class="btn btn-primary btm-sm m-0 me-2" type="submit">Guardar</button>
        <button class="btn btn-danger btm-sm m-0" onClick="window.history.back();return false;">Cancelar</button> 
    </div>
</div>
{% block inner_javascripts %}
{% endblock inner_javascripts %}