{% extends 'layouts/base.html' %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load tags %}
<div class="container-fluid py-4">

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="d-flex gap-3">
            {% if url_back %}
              <a href="{{ url_back }}" title="Volver">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </a>
            {% endif %}
            <h5>{{ title }}</h5>
            {% if url_crear %}
            <a href="{{ url_crear }}" title="Agregar {{ segment }}">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive p-0" id="contenedor-tabla">
            {% include table %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script> 
  $('#buscar').keyup(function() {
    var params = new URLSearchParams(window.location.search);
    var data = {};
    for (var pair of params.entries()) {
      data[pair[0]] = pair[1];
    }
    data['buscar'] = $('#buscar').val();
    $.ajax({
        url: "{% url segment %}",
        data: data,
        dataType: 'json',
        success: function(data) {
            $('#contenedor-tabla').html(data.table_html);
        }
    });
  })

  const toastErrorQuitButton = document.getElementById("quit-toast");
  toastErrorQuitButton.addEventListener("click", () => {
    const toastError = document.getElementById("toast-error");
    toastError.setAttribute("style", "display: none !important;")
    console.log(toastError.style)
  })
  
</script>
{% endblock javascripts %}