{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load tags %}
<div class="container-fluid py-4">

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>{{ title }}</h6>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive p-0">
            {% include table %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}