
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link id="custom_style" href="{{ ASSETS_ROOT }}/css/custom.css" rel="stylesheet" />
{% endblock stylesheets %}

<div class="container-fluid">

    <h6>Crear nuevo año</h6>

    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col {% if form.nombre.errors %}form-error{% endif %}">
                    <label for="{{ form.nombre.id_for_label }}">Ingrese el año</label>
                    <div class="col-3">
                        {{ form.nombre }}
                    </div>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col pt-3">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>

    <br/>

    <h6>Años registrados</h6>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th class="font-weight-bold align-middle ps-4">Año</th>
            </tr>
            {% for i in data_table %}
                <tr>
                    <td>{{ i.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>