
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link id="custom_style" href="{{ ASSETS_ROOT }}/css/custom.css" rel="stylesheet" />
{% endblock stylesheets %}

<div class="container-fluid">

    <h6>Crear nueva mencion</h6>

    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-6 {% if form.nombre.errors %}form-error{% endif %} mb-3">
                    <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label> <br>
                    {{ form.nombre }}
                </div>
                <label for="{{ form.nombre_abrev.id_for_label }}">{{ form.nombre_abrev.label }}</label> <br>
                <div class="col-1 {% if form.nombre_abrev.errors %}form-error{% endif %}">
                    {{ form.nombre_abrev }}
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col pt-3">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>

    <br/>

    <h6>Menciones registradas</h6>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th class="font-weight-bold">Mención</th>
                <th class="font-weight-bold">Abreviatura de la mención</th>
            </tr>
            {% for i in data_table %}
                <tr>
                    <td class="guardar nombre" contenteditable="true" data-id="{{ i.id }}">{{ i.nombre }}</td>
                    <td class="guardar abrev" contenteditable="true" data-id="{{ i.id }}" >{{ i.nombre_abrev }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function actualizarMencion({id, nombre=null, abrev=null}) {

        fetch(`/configuracion/menciones/${id}/editar`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ nombre: nombre, abrev: abrev }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Respuesta del servidor:', data);
        })
        .catch(error => {
            console.error('Error al enviar la solicitud:', error);
        });
    }

    const guardar = document.querySelectorAll(".guardar")

    guardar.forEach((item) => {
        item.addEventListener('blur', () => {

            id = item.getAttribute("data-id")
            text = item.innerText

            if (item.classList.contains('nombre')) {
                actualizarMencion({ id: id, nombre: text })
            }
            else if (item.classList.contains('abrev')) {
                actualizarMencion({ id: id, abrev: text })
            }
        })
    })

</script>