{% extends 'layouts/base.html' %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link id="pagestyle_dark" href="{{ ASSETS_ROOT }}/css/table.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
{% load tags %}
<div class="container-fluid py-4">

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="d-flex justify-content-between"> 
            <h6>{{ title }}</h6>
            <div>
              <a class="btn btn-outline-secondary btn-sm" href="/planillas">
                <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                <span class="btn-inner--text">Atras</span>
              </a>
              <button class="btn btn-icon btn-3 btn-primary btn-sm" type="button" onclick="imprimirTabla()">
                <span class="btn-inner--icon"><i class="fas fa-print"></i></span>
                <span class="btn-inner--text">Imprimir</span>
              </button>
            </div>
            {% if url_crear %}
            <a href="{{ url_crear }}" title="Agregar {{ segment }}">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="card-body p-0 d-flex justify-content-center pb-5">
          <table id="tabla-planilla" width="900">
            <tr>
              <td rowspan="5" colspan="5"><img src="{{ ASSETS_ROOT }}/img/gbv.png" alt="Logo del ministerio de poder popular para la Educacion"
                  width="450"></td>
              <th class="text-10" colspan="13">
                Código del Formato: EMG
              </th>
            </tr>
            <tr>
              <th class="text-10 text-left" colspan="4">I. Año escolar:</th>
              <td contenteditable="true" class="text-10 text-left b-solid-1" colspan="4"></td>
            </tr>
            <tr>
              <th class="text-10 text-left" colspan="5">Tipo de evaluación:</th>
              <td class="text-10 b-solid-1" colspan="3"></td>
              <th class="text-10 text-right" colspan="3">Mes y Año:</th>
              <td class="text-10 b-solid-1 text-left" colspan="3" contenteditable="true"></td>
            </tr>
            <tr height="10"></tr>
            <tr height="10"></tr>
            <tr>
              <th class="text-10 text-left" colspan="20">II Datos del plantel:</th>
            </tr>
            <tr class="mt-3">
              <th class="text-9 text-left" colspan="2">Codigo del plantel:</th>
              <td contenteditable="true" class="b-solid-1 text-10"></td>
              <th class="text-10 text-right">Nombre:</th>
              <td contenteditable="true" class="b-solid-1 text-10 pl-3" colspan="17"></td>
            </tr>
            <tr class="mt-3">
              <th class="text-10 text-left" colspan="2">Dirección:</th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="6"></td>
              <th class="text-10 text-right" colspan="2">Teléfono:</th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="10"></td>
            </tr>
            <tr class="mt-3">
              <th class="text-10 text-left" colspan="2">Municipio:</th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="2"></td>
              <th class="text-10 text-right">Entidad Federal:</th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="4"></td>
              <th class="text-10 text-right" colspan="4">Zona Educativa:</th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="8"></td>
            </tr>
            <tr>
                <tr height="10"></tr>
            </tr>
            <tr>
              <th class="text-10 text-left" colspan="20">III. Identificación de la Eveluación:</th>
            </tr>

            <tr class="mt-3">
              <th class="text-10 text-left">Final:</th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="2"></td>
              <th class="text-10 text-right">Revisión:</th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="2"></td>
              <th class="text-10 text-right">Materia Pendiente:</th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="3"></td>
              <th class="text-10 text-right">Otra:</th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="9"></td>
            </tr>

            <tr>
              <th class="text-10 text-left" colspan="20">IV. Datos del Titulo que Registra:</th>
            </tr>

            <tr class="mt-3">
              <th class="text-10 text-left" colspan="4">Nombre del Documento: TECNICO MEDIO INDUSTRIAL MENCION: </th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="12"></td>
              <th class="text-10 text-left" colspan="2">Código: </th>
              <td contenteditable="true" class="b-solid-1 text-10" colspan="2"></td>
            </tr>

            <tr>
                <th class="text-10 text-left" colspan="20">V. Cantidad de Estudiantes a los cuales se le otorgó el Título</th>
            </tr>

            <tr>
              <th height="10" colspan="20"></th>
            </tr>

            <tr>
              <th class="solid-1_text-center" rowspan="2">Nº</th>
              <th class="solid-1_text-center" rowspan="2">Serial del Título</th>
              <th class="solid-1_text-center" rowspan="2">Cédula de Identidad</th>
              <th class="solid-1_text-center" rowspan="2" colspan="2">Nombres y Apellidos</th>
              <th class="solid-1_text-center" colspan="2">Lugar de Nacimiento</th>
              <th class="solid-1_text-center" colspan="3">Fecha de Nacimiento</th>
              <th class="solid-1_text-center" rowspan="2" colspan="10">Observaciones</th>
            </tr>
            <tr>
              <th class="solid-1_text-center">EF</th>
              <th class="solid-1_text-center">Municipio</th>
              <th class="solid-1_text-center">DIA</th>
              <th class="solid-1_text-center">MES</th>
              <th class="solid-1_text-center">AÑO</th>
            </tr>

            {% for i in rows %}
            <tr>
              <th class="solid-1_text-center"> {{ forloop.counter }}</th>
              <td contenteditable="true" class="solid-1_text-center student-check td-first">*</td>
              <td contenteditable="false" class="solid-1_text-center student-check td-data">*</td>
              <td contenteditable="false" class="solid-1_text-center student-check td-data" colspan="2">*</td>
              <td contenteditable="false" class="solid-1_text-center student-check td-data">*</td>
              <td contenteditable="false" class="solid-1_text-center student-check td-data">*</td>
              <td contenteditable="false" class="solid-1_text-center student-check td-data">*</td>
              <td contenteditable="false" class="solid-1_text-center student-check td-data">*</td>
              <td contenteditable="false" class="solid-1_text-center student-check td-data">*</td>
              <td contenteditable="false" class="solid-1_text-center student-check td-data" colspan="10">*</td>
            </tr>
            {% endfor %}       

            <tr>
              <th class="solid-1_text-center" colspan="3">
                Total de Titulos Emitidos:
              </th>
              <td class="solid-1_text-center">AÑO</td>
              <td class="solid-1_text-center" contenteditable="true" colspan="2">*</td>
              <td class="solid-1_text-center" colspan="2">SECCIÓN:</td>
              <td class="solid-1_text-center" contenteditable="true" colspan="12">*</td>
            </tr>

            <tr>
              <th class="text-10 text-left solid-1_text-center" colspan="20">VI. Autoridades Educativas:</th>
            </tr>
            
            <tr>
              <th class="text-10 text-left solid-1_text-center" colspan="20">DIRECTOR(A) DEL PLANTEL: </th>
            </tr>

            <tr>
              <th class="solid-1_text-center" colspan="2">Nombres y Apellidos: </th>
              <th class="solid-1_text-center" colspan="5" contenteditable="true">*</th>

              <th class="solid-1_text-center" colspan="2">C.I.: </th>
              <th class="solid-1_text-center" colspan="5" contenteditable="true">*</th>

              <th class="solid-1_text-center" colspan="2">Firma: </th>
              <th class="solid-1_text-center" colspan="4" contenteditable="true">*</th>
            </tr>

                        
            <tr>
              <th class="text-10 text-left solid-1_text-center" colspan="20">COORDINADOR(A) DE CONTROL DE ESTUDIOS: </th>
            </tr>
            
            <tr>
              <th class="solid-1_text-center" colspan="2">Nombres y Apellidos: </th>
              <th class="solid-1_text-center" colspan="5" contenteditable="true">*</th>

              <th class="solid-1_text-center" colspan="2">C.I.: </th>
              <th class="solid-1_text-center" colspan="5" contenteditable="true">*</th>

              <th class="solid-1_text-center" colspan="2">Firma: </th>
              <th class="solid-1_text-center" colspan="4" contenteditable="true">*</th>
            </tr>
  
            <tr>
              <th class="text-10 text-left solid-1_text-center" colspan="20">FUNCIONARIO DESIGNADO POR EL MINISTERIO DEL PODER POPULAR PARA LA EDUCACION: </th>
            </tr>
            
            <tr>
              <th class="solid-1_text-center" colspan="2">Nombres y Apellidos: </th>
              <th class="solid-1_text-center" colspan="5" contenteditable="true">*</th>

              <th class="solid-1_text-center" colspan="2">C.I.: </th>
              <th class="solid-1_text-center" colspan="5" contenteditable="true">*</th>

              <th class="solid-1_text-center" colspan="2">Firma: </th>
              <th class="solid-1_text-center" colspan="4" contenteditable="true">*</th>
            </tr>

            <tr>
              <th class="text-10 text-left solid-1_text-center" colspan="2">VII. Observación</th>
              <th class="text-10 solid-1_text-center" colspan="18"  contenteditable="true">*</th>
            </tr>

            <tr>
              <th class="solid-1_text-center" colspan="3" contenteditable="true">VIII. Fecha de Remision:</th>
              <td contenteditable="true" class="solid-1_text-center" colspan="4" rowspan="8">SELLO DE PLANTEL</td>
              <th class="solid-1_text-center" colspan="9" contenteditable="true">IX. Fecha de recepción: </th>
              <td contenteditable="true" class="solid-1_text-center" colspan="4" rowspan="8">SELLO DE ZONA EDUCATIVA</td>
            </tr>
            <tr>
              <td contenteditable="true" class="solid-1_text-center" colspan="3">Director(a)</td>
              <td contenteditable="true" class="solid-1_text-center" colspan="9">Funcionario Receptor</td>
            </tr>
            <tr>
              <td contenteditable="true" class="solid-1_text-center" colspan="3">Apellidos y Nombres:</td>
              <td contenteditable="true" class="solid-1_text-center" colspan="9">Apellidos y Nombres:</td>
            </tr>
            <tr>
              <td contenteditable="true" class="solid-1_text-center" colspan="3" height="10"></td>
              <td contenteditable="true" class="solid-1_text-center" colspan="9"></td>
            </tr>
            <tr>
              <td contenteditable="true" class="solid-1_text-center" colspan="3">Cédula de Identidad:</td>
              <td contenteditable="true" class="solid-1_text-center" colspan="9">Cédula de Identidad:</td>
            </tr>
            <tr>
              <td contenteditable="true" class="solid-1_text-center" colspan="3" height="10"></td>
              <td contenteditable="true" class="solid-1_text-center" colspan="9"></td>
            </tr>
            <tr>
              <td contenteditable="true" class="solid-1_text-center" colspan="3">Firma:</td>
              <td contenteditable="true" class="solid-1_text-center" colspan="9">Firma:</td>
            </tr>
            <tr>
              <td contenteditable="true" class="solid-1_text-center" colspan="3" height="10"></td>
              <td contenteditable="true" class="solid-1_text-center" colspan="9"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script> 
  
  function imprimirTabla() {
      // Guardar el contenido original del cuerpo
      var cuerpoOriginal = document.body.innerHTML;

      // Obtener el contenido de la tabla
      var contenidoTabla = document.getElementById("tabla-planilla").outerHTML;

      // Reemplazar el contenido del cuerpo por el contenido de la tabla
      document.body.innerHTML = contenidoTabla;

      // Imprimir el documento
      window.print();

      // Revertir los cambios en el cuerpo
      document.body.innerHTML = cuerpoOriginal;
  }

  $('#buscar').keyup(function() {
    var params = new URLSearchParams(window.location.search);
    var data = {};
    for (var pair of params.entries()) {
      data[pair[0]] = pair[1];
    }
    data['buscar'] = $('#buscar').val();
    $.ajax({
        url: "{% url segment %}",
        data: data,
        dataType: 'json',
        success: function(data) {
            $('#contenedor-tabla').html(data.table_html);
            //$('#contenedor-paginador').html(data.paginator_html);
        }
    });
  })

  document.addEventListener("DOMContentLoaded", function() {

    const rows = document.querySelectorAll("td.td-first");
    console.log(rows);

    rows.forEach((row)=>{

        row.addEventListener('input',function (e) {
            // verificar si en el td-check hay texto
            const value = e.target.innerHTML; 
            console.log(value)
            if(value != '*'){
                //habilitar los td que se encuentran en el padre con class td-data
                const tr = row.parentNode; // row padre
                const datas = tr.querySelectorAll('td.td-data');
                datas.forEach(cell=>{
                    cell.setAttribute("contenteditable", "true");
                    cell.innerHTML = '';
                })
            }else{
                const tr = row.parentNode; // row padre
                const datas = tr.querySelectorAll('td.td-data');
                datas.forEach(cell=>{
                    cell.setAttribute("contenteditable", "false");
                    cell.innerHTML = '*';
                })
            }
        })

        // console.log(row.querySelector('td'))
    })
            // rows.forEach(row => {
            //     const firstCell = row.querySelector("td");
            //     firstCell.addEventListener("input", function() {
            //         const editableCells = row.querySelectorAll("td.student-check");
            //         console.log(editableCells.length)
            //         if (firstCell.textContent.trim() === "") {
            //             editableCells.forEach(cell => cell.setAttribute("contenteditable", "false"));
            //         } else {
            //             editableCells.forEach(cell => cell.setAttribute("contenteditable", "true"));
            //         }
            //     });
            // });

});

  /*
  $(document).on('click', '.paginador', function(e) {
    e.preventDefault();
    var page = $(this).attr('href').split('page=')[1];
    var params = new URLSearchParams(window.location.search);
    var data = {};
    for (var pair of params.entries()) {
        data[pair[0]] = pair[1];
    }
    data['page'] = page;
    $.ajax({
        url: "{% url segment %}",
        data: data,
        dataType: 'json',
        success: function(data) {
            $('#contenedor-tabla').html(data.table_html);
            //$('#contenedor-paginador').html(data.paginator_html);
        }
    });
  });*/
  
</script>
{% endblock javascripts %}